<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DeveloperAccessToken" value="1c165e8e-b762-47a6-87c4-9aa2440ec45d" />
    <!--<add key="CompanyId" value="29736" />-->
	  <add key="CompanyId" value="25180" />
    <add key="UserName" value="devuser" />
    <add key="Password" value="Etrade5678" />
	  <!--<add key="OrderType" value="EshopOrders" />-->
	  <add key="OrderType" value="SalesOrders" />
  </appSettings>
</configuration>